/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: green;
	margin: 40px 0px 70px;
	text-align: center;
}

body {
	
	background-color: #ccccccc;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.negativeChange {
	color: red;
}

.errorMessage {
	color: red;
}

.title {
	
}

.title_cell {
	font-size: 14;
	text-align: center;
	max-height: 30;
	text-decoration: blink;
	text-shadow: navy;
	width: 60;
	white-space: pre-wrap;
	word-spacing: normal;
	max-width: 150;
	word-wrap: break-word;
}

.FlexTable {
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
}

.FlexTable-OddRow {
	background-color: #cccccc;
}

.FlexTable-EvenRow {
	background-color: #505050;
}

.FlexTable-ColumnLabel {
	color: white;
	padding: 3px;
}

.FlexTable-ColumnLabelCell {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: white;
	text-shadow:;
	text-decoration: line-through;
	background-color: gray;
	border-color: black;
	margin: 0;
	padding: 0;
	text-align: center;
}

.FlexTable-TitleCells {
	font-weight: bold;
	font-size: 15;
	font-family: Purisa;
	border-bottom-style: groove;
	border-bottom-color: d8d092;
	text-shadow: gray;
	text-align: center;
	padding: 2;
}

.FlexTable-Cell {
	font-family: Ubuntu;
	font-size: 14;
	max-width: 100;
	text-align: center;
	word-spacing: normal;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 8;
	border-bottom-color: d8d092;
	border-bottom-style: ridge;
}

.FlexTable-Title-Column {
	text-align: left;
	font-size: 13;
	font-family: Purisa;
	font-weight: bolder;
	text-align: center;
	border-right-style: ridge;
	border-right-color: d8d092;
	border-bottom-style: ridge;
	border-bottom-color: d8d092;
	min-height: 25;
	min-width: 50;
	max-width: 70;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding-right: 2;
}

.FlexTable-Date-Column {
	font-family: Ubuntu;
	text-align: center;
	font-size: 14;
	max-width: 100;
	word-spacing: normal;
	white-space: pre-wrap;
	word-wrap: break-word;
	border-bottom-color: d8d092;
	border-bottom-style: ridge;
}

.Main {
	background-image: url("../images/BGfin.png");
	background-position: center;
	background-repeat: repeat-y;
	background-attachment: scroll;

}

.delete-button {
	background-color: f4eb90;
	font-family: Purisa;
	text-align: center;
	padding-top: 5;
}

.add-title-cell {
	font-weight: bold;
	font-size: 15;
	font-family: Purisa;
	text-shadow: gray;
	text-align: center;
	padding: 2;
}

.add-button {
	font-weight: bold;
	font-size: 13;
	font-family: Purisa;
	text-shadow: gray;
	text-align: center;
	background-color: f4eb90;
	padding-top: 5;
}

.logout-button {
	background-image: url("../images/logout.png");
	background-position: center;
	width: 40;
	height: 40;
}

.remove-button {
	background-image: url("../images/remove.png");
	background-position: center;
	width: 40;
	height: 40;
	
}

.welcome-panel{
	font-weight: bold;
	font-size: 20;
	font-family: Purisa;
	text-shadow: green;
	text-align: center;
	padding: 14;
}
